* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root {
    --color-primary: #131842;
    --color-primary-light: #282f6e;
    --salmon: #e68369;
    --salmon-secundary: #ecceae;
    --marfin: #fbf6e2;
    --color-success: #00bf8e;
    --color-warning: #f7c94b;
    --color-danger: #f75842;
    --color-danger-variant: rgba(247, 88, 66, 0.4);
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.7);
    --color-black: #000;
    
    --container-width-lg: 76%;
    --container-width-md: 90%;
    --container-width-sm: 94%;

    --transition: all 400ms ease;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
    color: var(--color-white);
    background: var(--color-primary);
}

.container {
    width: var(--container-width-lg);
    margin: 0 auto;
}

section {
    padding: 6rem 0;
}

section h2 {
    text-align: center;
    margin-bottom: 4rem;
}

h1, h2, h3, h4, h5 {
    line-height: 1.2;
}

h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.3rem;
}

a {
    color: var(--color-white);
}

img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.btn {
    display: inline-block;
    background: var(--color-white);
    color: var(--color-black);
    padding: 1rem 2rem;
    border: 1px solid transparent;
    font-weight: 500;
}

.btn:hover {
    background: transparent;
    color: var(--color-white);
    border-color: var(--color-white);
}

.btn-primary {
    background: var(--color-danger);
    color: var(--color-white);
}

/* ======================== NAVBAR ============================ */

nav {
    background: transparent;
    width: 100vw;
    height: 5rem;
    position: fixed;
    top: 0;
    z-index: 11;
}

/* Mudar o navbar css quando mexer usando JS */
.window-scroll {
    background: var(--salmon);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    transition: var(--transition);
}

.nav-container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav button {
    display: none;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.nav-menu a {
    font-size: 0.9rem;
    transition: var(--transition);
}

.nav-menu a:hover {
    color: var(--color-primary);
}

/* ======================== HEADER ============================ */

header {
    position: relative;
    top: 5rem;
    overflow: hidden;
    height: 70vh;
    margin-top: 1rem;
}

.header-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 5rem;
    height: 100%;
}

.header-left p {
    margin: 1rem 0 2.4rem;
}

/* ====================== SOLUTIONS ========================= */

.solutions {
    background: var(--color-primary-light);
    height: 50rem;
}

.solutions h1 {
    line-height: 1;
    margin-bottom: 3rem;
    margin-top: 5rem;
}

.solutions-container {
    display: grid;
    grid-template-columns: 40% 60%;
}

.solutions-left {
    margin-right: 4rem;
}

.solutions-left p {
    margin: 1rem 0 3rem;
}

.solutions-right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.2rem;
    margin-top: 5rem;
}

.solutions-bloco {
    background-color: var(--salmon);
    padding: 2rem;
    border-radius: 2rem;
    transition: var(--transition);
}

.solutions-bloco:hover {
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.solutions-icons {
    background: var(--color-primary-light);
    padding: 0.7rem;
    border-radius: 0.9rem;
}

.solutions h5 {
    margin: 2rem 0 1rem;
}

.solutions p {
    font-size: 0.85rem;
}

/* ========================= WHAT DO WE DO ========================= */

.what-do-we-do {
    margin-top: 10rem;
}

.what-do-container {
    margin: 10rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.topicos {
    background: var(--color-primary-light);
    text-align: center;
    border: 2px solid transparent;
    transition: var(--transition);
}

.topicos:hover {
    background: transparent;
    border-color: var(--color-primary-light);
}

.topico-info {
    padding: 2rem;
}

.topico-info p {
    margin: 1.2rem 0 2rem;
    font-size: 0.9rem;
}


* {
    box-sizing: border-box;
}

.card-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 1200px;
    margin-top: 20px;
}
.card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    margin: 10px;
    text-align: center;
    transition: transform 0.2s;
}
.card:hover {
    transform: scale(1.05);
}
.card img {
    width: 100%;
    height: auto;
}
.card h3 {
    margin: 15px 0;
}
.card p {
    padding: 0 15px;
    color: #555;
}
.card button {
    margin: 15px;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.card button:hover {
    background-color: #0056b3;
}

.titulo{
    text-align: center;
}

* {
    box-sizing: border-box;
}

.carousel {
    position: relative;
    max-width: 600px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.carousel-image {
    min-width: 100%;
    border-radius: 10px;
}




* {
    box-sizing: border-box;
}

.card-container {
    color: white;
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 1200px;
    margin-top: 20px;
    
}
.card {
    
    background: #282f6e;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    margin: 10px;
    text-align: center;
    transition: transform 0.2s;
}
.card:hover {
    transform: scale(1.05);
}
.card img {
    width: 100%;
    height: auto;
}
.card h3 {
    margin: 15px 0;
    color:#ffffff;
}
.card p {
    padding: 0 15px;
    color: #fdfcfc;
}
.card .caption {
    font-size: 14px;
    color: #888;
    margin-top: 5px;
}
.card button {
    margin: 15px;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.card button:hover {
    background-color: #0056b3;
}




* {
    box-sizing: border-box;
}

.carousel {
    height: 100vh;
    margin:auto;
    position: relative;
    max-width: 600px;
    overflow: hidden;
    border-radius: 10px;
 
}
.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.carousel-image {
    min-width: 100%;
    position: relative;
}
.carousel-caption {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 5px;
}


.card{
    color: #000;
}

.carde{
    background-color:  #e68369;;
}

.stem{
    background-color: #3f478f;
}